.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loading-spinner-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 34px;
}

.widget-flow .widget-flow-header {
    padding: 20px;
    height: 120px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.widget-flow .widget-flow-name {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.widget-flow .widget-flow-desc {
    margin-top: 0;
}
.widget-flow .widget-flow-image {
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -45px;
}
.widget-flow .widget-flow-image > img {
    width: 90px;
    height: auto;
    border: 3px solid #fff;
}

.label a {
    color: inherit;
}

.label-multiple-inline {
    margin-right: 5px;
}

.control-sidebar-bg, .control-sidebar {
    right: -37%;
    width: 37%;
}

.control-sidebar .bottom-actions {
    background: #181f23;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    padding: 15px 25px;
}

.control-sidebar .bottom-actions .btn {
    margin-right: 10px;
}